/* set template variables */

$banner-image:'/theme/site/geomag/banner.png' !default;
$site-title-background-color:#1B3C43 !default;
$site-title:'National Geomagnetism Program' !default;

// import default variables
@import '../../css/_variables.scss';
