$border-color: rgb(226,226,226) !default;
$hover-color: rgb(237,237,237) !default;
$background-color-open: $border-color !default;
$background-color-closed: rgb(245,245,245) !default;

@mixin plus-minus ($icon) {
		font-family: "Courier New", Courier, monospace;
		content: $icon;
		letter-spacing:1em;
		font-weight: bold;
		@if $icon == '+' { color:#aaa; }
		@elseif $icon == '-' {color:#666; }
}

.accordian {
	display:block;

	> h3 {
		background-color: $background-color-open;
		border:1px solid $border-color;
		padding:10px 15px;
		color:#333;
		text-shadow:1px 1px 0 rgb(255,255,255);
		font-weight:normal;
		border-bottom: 2px solid $border-color;
		vertical-align:bottom;
		margin-bottom:0;
	}

	> h3:hover {
		cursor:pointer;
		background-color:rgb(237,237,237);
	}

	> h3:before {
		@include plus-minus('-');
	}

	> div {
		display:block;
		border-left:1px solid $border-color;
		border-right:1px solid $border-color;
		border-bottom:3px solid $border-color;
		padding:10px 15px;
	}
}

.accordian-open {
	> h3 {
		border-top: 2px solid $border-color;
		border-bottom: none;
		text-shadow:1px 1px 0 rgba(255,255,255, 0.5);
		color:#333;
	}
}

.accordian-closed {
	> h3 {
		background-color:$background-color-closed;
		color:#666;
	}

	> h3:before {
		@include plus-minus('+');
	}

	> div {
		display:none;
	}

}
