[role="banner"] {
  background-color: $primary;
  height: 56px;
  position: relative;

  > .cooperators {
    /* banner cooperator styles. */
    background-color: $banner-background-color;
    height: 100%;
    left: 186px;
    overflow: hidden;
    padding: calc($spacing * 3/2) 0;
    position: absolute;
    top: 0;
    white-space: nowrap;

    /* hide banner cooperator logos on small screens. */
    display: none;
    @media screen and (min-width: $breakpoint-offcanvas) {
      display: block;
    }
  }

  /* position usgs logo over background. */
  > .site-logo {
    /*
      bottom padding of 0
      + overflow: hidden
      + image height 140%
      = hide "science for a changing world" on small screens.
    */
    background-color: $primary;
    display: block;
    height: 42px;
    left: 0;
    overflow: hidden;
    padding: 14px 14px 0;
    position: absolute;
    top: 0;

    > img {
      height: 140%;
      border: none;
    }
  }

  /* visually hide navigation jumplink. */
  > .jumplink-navigation {
    display: block;
    left: -9999px;
    position: absolute;
    top: 0;
  }

  @media screen and (min-width: $breakpoint-offcanvas) {

    /* make banner larger on large screens. */
    background-color: $banner-background-color;
    background-image: url($banner-image);
    background-position: 186px 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 90px;
    /* 1.5 line-height on 1em text, with 0.25em padding top/bottom */
    margin-bottom:2.5em;

    /* also adjust size of usgs logo */
    > .site-logo {
      background-color: $banner-background-color;
      height: 100%;
      padding: 1em;
      /*width: 157px;*/

      > img {
        height: 100%;
      }
    }

    &:after {
      background-color: $primary;
      border: 1px solid white;
      border-width: 1px 0;
      color: $primary-text-color;
      content: $banner-title;
      display: block;
      left: 0;
      line-height: 2;
      padding: 0.25em 0 0.25em $spacing;
      position: absolute;
      right: 0;
      text-shadow: 0 0 2px rgba(0,0,0,0.5);
      top: 100%;
    }
  }
}

/* cooperator links/logos */
.cooperator {
  display: inline-block;
  margin-right: 14px;

  &,
  > img {
    height: 100%;
    max-width: none;
  }
}

@media print {
  /** Only show USGS logo when printing, requires background colors... */
  [role="banner"] {
    background-color: #fff;
    height: 0;
    margin: 0;
    padding: 0;
    visibility:hidden;
    width: 100%;

    &:after {
      color: #333;
      content: 'U.S. Geological Survey - ' $banner-title;
      display: block;
      visibility: visible;
    }
  }

  [role="main"] {
    padding: 1em 0 0 !important;
  }
}
