
[role="banner"] {
	height:56px;
	position:relative;
	background-color:$banner-background-color;

	/* position usgs logo over background image. */
	> .site-logo {
		display: block;
		position: absolute;
		left: 14px;
		top: 14px;
		color: transparent;
		width: 101px;
		height: 50%;
		background-size: auto 140%;
		background-image: url("/theme/images/usgs-logo.svg");
		background-repeat: no-repeat;

		> img {
			display:none;
		}
	}

	/* visually hide navigation jumplink. */
	> .jumplink-navigation {
		display:block;
		position:absolute;
		left:-9999px;
		top:0;
	}


	@media screen and (min-width:$breakpoint-full) {

		/* make banner larger on large screens. */
		background-size:auto 100%;
		background-repeat:no-repeat;
		background-image:url('#{$banner-image}');
		height:72px;
		background-position:202px 0;


		/* also adjust size of usgs logo */
		> .site-logo {
			width: 182px;
			height: 75%;
			top:10px;
			background-size: auto 100%;
		}

		/* make room for :after content (font size + padding*2 + border*2) */
		margin-bottom:19px + (5px * 2) + 2px;

		&:after {
			display:block;
			position:absolute;
			top:100%;
			left:0;
			right:0;

			padding:5px 0 5px $horizontal-spacing;
			border:1px solid white;
			border-width:1px 0;
			font-family:verdana,helvetica,arial,sans-serif;
			font-size:17px;
			font-weight:bold;

			content:$site-title;
			color:$site-title-color;
			background-color:$site-title-background-color;
		}

	}

}

@media print {
	[role="banner"] {
		visibility:hidden;
		height:20px;
		> .site-logo > img {
			visibility:visible;
			display:inline;
		}
	}
}
