button {
	position:relative;
	font-size:0.75em;
	padding:.666em 1em;
	color: #333;
	background: #f8f8f8;
	text-shadow:0 1px 1px #fff;
	border:1px solid #d8d8d8;
	border-radius:2px;
	cursor:pointer;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,
				rgba(0,0,0,0.05) 100%);

	&:hover,
	&:active {
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,
				rgba(0,0,0,0.1) 100%);
	}

	&.red,
	&.orange,
	&.green,
	&.blue {
		color:#fff;
		text-shadow:0 1px 1px rgba(0,0,0,0.5);
	}

	&.yellow {
		color:#555;
		text-shadow:0 1px 1px #fff;
	}

	&.disabled, &[disabled] {
		background:#e9e9e9;
		color:#777;
		text-shadow:none;
		cursor:text;
		border-color:#e9e9e9;

		&:hover {
			background-image:none;
		}
	}


	/*** DO PEOPLE LIKE ?? -- Icon styling on buttons for yes/no options ***/
	&.cancel,
	&.confirm {
		text-align:left;

		&:after {
			position: absolute;
			right: 0;
			top: -1px;
			bottom: -1px;
			padding: 0;
			margin: 0;

			line-height: 2.6em;
			width: 3em;
			text-align: center;
			border-left: 1px solid rgba(0,0,0,0.05);
			background: rgba(0,0,0,0.05);
		}

		&[disabled]:after,
		&.disabled:after, {
			border:none;
		}
	}

	&.confirm:after {
		content:'\2713';
	}

	&.cancel:after {
		content:'x';
		font-weight:bold;
	}
	/*** END of icon styling ***/
}

.red {
	background-color: #C7351F;
	border-color: #AD1600;
}

.orange {
	background-color: #FA8B12;
	border-color: #DD7300;
}

.yellow {
	background-color: #F0F00D;
	border-color: #E5E600;
}

.green {
	background-color: #2EA96A;
	border-color: #108B4C;
}

.blue {
	background-color: #008BF8;
	border-color: #006BF3;
}

