button {
	position:relative; /* used by before/after selectors */
	font-size:1em;
	line-height:4rem;
	height:4rem;
	padding:0 1em;
	margin:4px 2px;
	color: #333;
	background: #f8f8f8;
	text-shadow:0 1px 1px #fff;
	border-radius:2px;
	cursor:pointer;
	border:none;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%,
			rgba(0,0,0,0.05) 100%);
	vertical-align:top;
	font-family:'helvetica neue', arial, sans-serif;

	&:hover {
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,
				rgba(0,0,0,0.1) 100%);
		color:#000;
		text-shadow:none;
	}

	&:active{
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 20%,
				rgba(55, 55, 55, 0.1) 100%);
	}

	&.red {
		background-color: #E46554;
	}

	&.orange {
		background-color: #F59048;
	}

	&.yellow {
		background-color: #FFF066;
	}

	&.green {
		background-color: #58A973;
	}

	&.blue {
		background-color: #5393CA;
	}

	&.red,
	&.orange,
	&.green,
	&.blue {
		color:#fff;
		text-shadow:0 0 2px rgba(0,0,0,0.6);
	}

	&.yellow {
		color:#555;
		color:#836352;
		color:#74513F;
		text-shadow:0 1px 1px #fff;
	}

	&.disabled,
	&[disabled] {
		background:#e8e8e8;
		color:#999;
		text-shadow:none;
		cursor:text;
		box-shadow:none;

		&:hover {
			background-image:none;
		}
	}

	// YES/NO icon styling
	&.cancel,
	&.confirm {
		text-align:left;
		padding-right: 4em;
		padding-left: 1em;

		&:after {
			position: absolute;
			right: 0;

			width: 3em;
			text-align: center;
			border-radius: 0 2px 2px 0;
			border-left: 1px solid rgba(0,0,0,0.05);
			background: rgba(0,0,0,0.05);
		}

		&.disabled:after,
		&[disabled]:after {
			border:none;
		}
	}

	&.confirm:after {
		content:'\2713';
	}

	&.cancel:after {
		content:'x';
		font-weight:bold;
	}
}

.button-group {
	padding:0;
	margin:0;


	> button {
		margin:0 0 0 -1px;
		border-radius:0;
		float: left;

		&:first-child {
			margin:0;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}

		&:last-child {
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}

	&:after {
		content: '';
		clear:both;
		display:block;
	}
}

@media screen and (min-width: $breakpoint-offcanvas) {
	button {
		font-size: 0.8125em;
		line-height: 3rem;
		height: 3rem;
	}
}

