.feature-main {
  max-width: 464px;

  > a {
    display: block;
    width: 100%;
    position: relative;

    > .feature-title {
      color: #eee;
      font-size: 22px;
      left: 10%;
      line-height: 1.3;
      margin: 0;
      position: absolute;
      text-align: center;
      text-shadow: -1px 1px 0px #000, -3px 3px 10px #666;
      top: 20px;
      width: 80%;
      z-index: 2;
    }

    > .feature-image {
      background-repeat: no-repeat;
      background-size: 100%;
      padding-bottom: 65%;
      width: 100%;
    }

    > .feature-image:after {
      background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0) 100%);
      content: '';
      display: block;
      padding-bottom:50%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}

.feature-subfeatures,
.feature-subfeatures > .feature-item {
  margin-top: 0;
  padding-top: 0;
}

.feature-image {
  width: 75px;
}
