.feature-main {

  > a {
    display: block;
    position: relative;
    width: 100%;

    > .feature-image {
      background-repeat: no-repeat;
      background-size: 100%;
      padding-bottom: 65%;
      width: 100%;
    }
  }
}

.feature-subfeatures,
.feature-subfeatures > .feature-item {
  margin-top: 0;
  padding-top: 0;
}

.feature-image {
  width: 300px;
}
