figure {
  display: block;
  margin: $spacing 0 0;

  > img {
    border: 1px solid #ddd;
    padding: 0.5em;
  }

  > figcaption {
    display: block;
    font-size: 0.75em;
    margin: 1em 0;
  }

  @media screen and (min-width: $breakpoint-stacking) {
    &.right {
      float: right;
      margin-left: $spacing;
      max-width: 50%;
    }

    &.left {
      float: left;
      margin-right: $spacing;
      max-width: 50%;
    }
  }
}
