figure {
	display: block;
	margin: 1em 0 0;

	> img {
		border: 1px solid #ddd;
	}

	> figcaption {
		display: block;
		font-size: 0.75em;
	}

	@media screen and (min-width: $breakpoint-stacking) {
		&.right {
			float: right;
			margin-left: 1em;
			max-width: 50%;
		}

		&.left {
			float: left;
			margin-right: 1em;
			max-width: 50%;
		}
	}
}
