@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
  	font-weight: 400;
    src: url('/theme/fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.woff') format('woff'),
         url('/theme/fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
  	font-weight: 400;
    src: url('/theme/fonts/Source_Sans_Pro/sourcesanspro-light-webfont.woff') format('woff'),
         url('/theme/fonts/Source_Sans_Pro/sourcesanspro-light-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('/theme/fonts/Source_Sans_Pro/sourcesanspro-italic-webfont.woff') format('woff'),
         url('/theme/fonts/Source_Sans_Pro/sourcesanspro-italic-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('/theme/fonts/Source_Sans_Pro/sourcesanspro-bold-webfont.woff') format('woff'),
         url('/theme/fonts/Source_Sans_Pro/sourcesanspro-bold-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('/theme/fonts/Merriweather/merriweather-regular-webfont.woff') format('woff'),
         url('/theme/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('/theme/fonts/Merriweather/merriweather-italic-webfont.woff') format('woff'),
         url('/theme/fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('/theme/fonts/Merriweather/merriweather-bold-webfont.woff') format('woff'),
         url('/theme/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');

}
