
.site-footer {
	clear: both;

	& > hr {
		display: none;
	}
}


.site-sectionnav {
	border: 1px solid $sectionnav-border-color;
	background-color: $sectionnav-background-color;
	margin: $spacing 0;

	// regular nav items
	& > a,
	// items in a nav group
	& > section > a,
	// nav group header
	& > section > header,
	// current page
	& > strong,
	& > section > header > strong,
	& > section > strong {
		display:block;
		padding:$spacing;
		text-decoration:none;

		border-bottom: 1px solid #fff;
		&:last-child {
			border-bottom:none;
		}
	}

	// indent group items
	& > section > a,
	& > section > strong {
		text-indent: 15px;
	}

	// hover styles for nav items
	& > a:hover,
	& > section > a:hover {
		background-color:$sectionnav-background-color-hover;
	}

	// current page is a strong element
	& > strong,
	// or an element with the class "current-page"
	& > .current-page,
	& > section > strong,
	& > section > .current-page {
			background-color:$sectionnav-background-color-hover;
			text-decoration:underline;
	}

}


/* search form */

.site-search {
	position:relative;
	clear:both;
	display: block;
	margin: $spacing 0;
	padding: $spacing;
	background-color: $search-background-color;
	border: 1px solid $search-border-color;

	& >[type="search"] {
		display:block;
		width:78%;
	}

	& > label {
		display:block;
		float:left;
		margin-right:1em;
		font-size:smaller;
	}

	& > button {
		position:absolute;
		right:$spacing;
		top:$spacing;
		width:20%;
	}

	&:after {
		content: ' ';
		display:block;
		clear:both;
	}
}


/* site nav */

.site-sitenav {
	background-color: $sitenav-background-color;
	margin: $spacing 0;
	border: 1px solid darken($sitenav-background-color, 20%);
	overflow: visible;

	& > a {
		display: block;
		padding: $spacing;
		color: $sitenav-color;
		text-decoration: none;
		font-weight: bold;

		@media screen and (max-width:($breakpoint-full - 1px)) {
			border-bottom: 1px dotted #fff;
			&:last-child {
				border-bottom: 0;
			}

			&:hover,
			&.current-page {
				background-color: $sitenav-background-color-hover;
			}

			&.current-page {
				text-decoration:underline;
			}
		}

		@media screen and (min-width:$breakpoint-full) {
			display: inline-block;

			padding: $spacing 0;
			margin: 0 0 0 $spacing;

			$border-side: bottom;

			padding-#{$border-side}: $spacing - 3px;
			border-#{$border-side}: 3px solid transparent;

			&:hover,
			&.current-page {
				border-#{$border-side}-color: $sitenav-border-color-hover;
			}
		}
	}

}


/* common nav */

.site-commonnav {
	text-align: center;

	& > a {
		display: inline-block;
		margin: .25em;

		@media screen and (min-width:$breakpoint-full) {
			font-size: smaller;
		}
	}

}
