/* section nav */
.site-sectionnav {

  /* Ungrouped Links */
  > a {
    background-color: #ededed;
    background-image: none;
    border-top: 1px solid $secondary;
    color: $secondary-text-color;
    display: block;
    padding: calc($spacing * 2/3) $spacing;
    text-decoration: none;
    transition: background .25s ease-out;

    &:visited {
      color: $secondary-text-color;
    }
  }

  > a:hover {
    text-decoration: underline;
  }

  /* Grouped Links */
  > section {
    margin: 0 0 0.2em 0;

    /* items in a nav group */
    > a,
    > header {
      color: $secondary-text-color;
      display: block;
      padding: calc($spacing * 2/3) $spacing;
      transition: background .25s ease-out;
    }

    /* indent group items */
    > a {
      padding-left: calc(3/2 * $spacing);
      /* for linear-gradient background */
      position: relative;

      /* gradient separator between section links */
      &:before {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0.1) 2.5em, rgba(0, 0, 0, 0) 100%);
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    /* nav group header */
    > header {
      background-color: $secondary-lighter;
      border-bottom: 1px solid $secondary;
      border-top: 1px solid $secondary;
      font-weight: normal;
      text-shadow: 0 0 2px #fff;
    }

    > a,
    > header > a {
      background-image: none;
      text-decoration: none;

      /* hover styles for nav items */
      &:hover {
        background-color: $secondary-lighter;
        text-decoration: underline;
      }
    }

    > header > a {
      display: block;
      color: $secondary-text-color;

      &:hover {
        background-color: $secondary-lighter;
      }
    }
  }
}


/* search form */

.site-search {
  display: block;
  margin: $spacing;
  position: relative;

  >[type="search"] {
    appearance: none;
    display: block;
    margin: 0;
    width: 100%;
  }

  > label {
    display: block;
    float: left;
    font-size: smaller;
    margin-right: $spacing;
  }

  > button {
    clear: both;
    display: block;
    margin: $spacing 0 0 0;
  }
}


/* site nav */

.site-sitenav {
  background-color: $primary;
  overflow: visible;

  > a,
  > strong {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    color: $primary-text-color;
    display: block;
    font-weight: normal;
    padding: calc($spacing * 2/3) $spacing;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
    transition: background .25s ease-out;

    &:visited {
      color: $primary-text-color;
    }

    &:hover {
      background: $primary-darker;
      color: $primary-text-color;
    }
  }

  > strong,
  > .current-page,
  > strong:hover,
  > .current-page:hover {
    background-color: $primary-darker;
    color: $primary-text-color;
  }
}


/* Site Footer */

.site-commonnav {
  border-top: 1px solid $secondary;
  clear: both;
  font-size: smaller;
  padding: 1rem;
  text-align: center;

  > a {
    color: $primary-lighter;
    display: inline-block;
    margin: 0 $spacing 0 0;

    &:last-child {
      margin: 0;
    }
  }
}


@media screen and (min-width: $breakpoint-offcanvas) {

  .site-footer {
    padding: 0 $spacing;
  }

  .site-sectionnav,
  .site-sitenav,
  .site-search {
    margin: $spacing 0;
  }

  .site-sectionnav {

    > a,
    > strong {
      border: 1px solid $secondary;
      margin: 0 0 $spacing;
    }

    > section {
      border: 1px solid $secondary;
      margin: 0 0 $spacing;

      header,
      header > a {
        border-top: 0;
      }
    }
  }
}


@media print {
  .site-sectionnav,
  .site-search,
  .site-sitenav,
  .site-commonnav {
    display: none;
  }
}
