/** Stacked should be the default mobile style */
select, textarea, input, fieldset, legend, label {
	color: #333;
	font-size: 1.6rem; // prevents zooming on input in iOS (android? dont know)
	margin:4px 2px;
	font-family:'helvetica neue', arial, sans-serif;
}

legend,
label {
	margin: 0.5em 0 0;
}

input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
textarea {
	height:4rem;
	border:1px solid #d8d8d8;
	padding: 0.5em;
	max-width: 100%;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select {
	height:4rem;
	border:1px solid #d8d8d8;
	padding: 0 0.25em;
	max-width: 100%;
}


textarea {
	vertical-align:top;
}

fieldset {
	margin: 1em 0 0;
	padding:0;
	border:none;

	label {
		display:block;
		text-indent: -49px;
		padding-left: 49px;

		&:hover {
			cursor: pointer;
		}
	}
}

input[type="radio"],
input[type="checkbox"] {
	padding: 0;
	margin: 0 12px 0 16px;
	width: 16px;
}

.vertical {
	label {
		display:block;
		margin: 1em 0 0;
	}

	fieldset {
		label {
			margin: 0.5em 0 0;
		}
	}

	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	select,
	textarea {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (min-width: $breakpoint-offcanvas) {

	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	select,
	textarea {
		font-size: 0.8125em;
		height: 3rem;
	}
}
