/** Stacked should be the default mobile style */
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  appearance: none;
  border: 1px solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-family: $font-sans;
  font-size: 1em;
  margin: .2em 0;
  outline: none;
  padding: 1rem .7em;
  width: 100%;

  &:focus,
  &.usa-input-focus,
  &.usa-select-focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }

  &.usa-input-success,
  &.usa-select-success {
    border: 3px solid #4aa564;
  }
}

option {
  font-family: $font-sans;
}

.usa-fieldset-inputs {
  border: none;
  margin: 0;
  padding: 0;
}

.usa-input-error,
.usa-select-error {
  margin-top: 3rem;
  padding: .8rem 0 .8rem;
  position: relative;

  &:before {
    bottom: 0;
    content: '';
    background-color: #cd2026;
    left: -1.9rem;
    position: absolute;
    top: 0;
    width: 4px;
  }

  > label {
    margin-top: 0;
  }
}

.usa-input-error-label,
.usa-select-error-label {
  display: block;
  font-weight: $font-bold;

  > input,
  > select {
    border: 3px solid #cd2026;
  }
}

.usa-input-error-message,
.usa-select-error-message {
  color: #cd2026;
  display: block;
  font-weight: $font-bold;
  padding: .5em 0;
}

label {
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-top: .5em;
  position: relative;
}

textarea {
  height: 16rem;
}

select {
  appearance: none;
  background-color: #ffffff;
  background-image: url('/theme/images/arrow-down.png');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: auto;
  padding-right: 3em;
  white-space: nowrap;
  text-overflow: ellipsis;

  /** hide the select arrow in IE */
  &::-ms-expand {
    display: none;
  }
}


/* Hint text */

.usa-form-hint {
  color: #757575;
  font-family: $font-sans;
  margin-bottom: 0;
}


/**
 * Custom checkboxes
 */

input[type='checkbox'],
input[type='radio'] {
  display: block;
  height: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
  width: 0;
  z-index: -1;

  + label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0.5em;

    &:before {
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 0 0 1px #757575;
      color: #fff;
      content: '';
      display: inline-block;
      font-size: 1em;
      height: 1em;
      line-height: 1;
      margin-right: .6em;
      margin-left: .6em;
      text-indent: 0;
      width: 1em;
    }
  }

  &:checked + label:before {
    background-color: $primary;
  }
}

/*
  Fix checkbox printing styles in IE.
*/
input[type='checkbox'] + label:before {
  content: '';
}

input[type='checkbox']:checked + label:before {
  content: '\0e5ca';
  font-family: 'Material Icons';
}

input[type='radio'] {
  + label:before {
    border-radius: 100%;
    box-shadow:
        0 0 0 2px #fff,
        0 0 0 3px #757575;
    height: 1.6rem;
    width: 1.6rem;
  }

  &:checked + label:before {
    box-shadow:
        0 0 0 2px #fff,
        0 0 0 4px $primary;
  }
}

/* these need to be at the end to override defaults. */
input[type='checkbox'],
input[type='radio'] {
  &:focus + label:before {
    box-shadow:
        0 0 0 2px #fff,
        0 0 0 4px $primary,
        0 0 3px 4px #3e94cf,
        0 0 7px 4px #3e94cf;
  }

  &:disabled + label {
    color: #ccc;
    cursor: not-allowed;

    &:before {
      background: #ddd;
      box-shadow: 0 0 0 1px #aaa;
      content: '';
      cursor: not-allowed;
    }
  }
}

input[type='radio']:disabled + label:before {
  box-shadow:
      0 0 0 2px #ddd,
      0 0 0 3px #aaa;
}
