/** Stacked should be the default mobile style */
select, textarea, input, fieldset, legend, label {
	vertical-align: middle;
}

textarea, input, select {
	height:4rem;
	border:1px solid #d8d8d8;
	padding: 0.5em;
	max-width: 100%;
}

label,
legend {
	margin: 1em 0 0.25em;
	padding: 0;
}

fieldset {
	margin: 1em 0;
	padding:0;
	border:none;

	legend {
		margin: 1em 0 0.5em;
	}

	label {
		display:block;
		margin: 0 0 0.25em;
		text-indent: -2em;
		padding-left: 2em;

		&:hover {
			cursor: pointer;
		}
	}
}

input[type="radio"],
input[type="checkbox"] {
	height: 2em;
	margin: 0 0.65em;
}

.vertical {
	label {
		display:block;
		clear:both;
	}

	// legend and fieldset margin-top double up in FireFox
	fieldset > legend {
		margin: 0 0 0.5em;
	}
}

// Keeps margin from doubling on row margin
.column > legend,
.column > label {
	margin: 0 0 0.25em;
}


@media screen and (min-width: $breakpoint-offcanvas) {

	textarea, input, select {
		font-size: 0.75em;
		height: 3rem;
	}
}
