/* "jumplist" navigation links */

.jumplist {
  border: 1px solid #ddd;
  margin: 1em 0 0;
  padding: 0.5em 0.5em 0.5em 0;

  > a {
    display: inline-block;
    margin-left: 0.75em;
    padding: 0;

    & + a:before {
      color: #ccc;
      content: '|\00A0';
      display: inline-block;
      margin: 0 0.75em 0 0;
    }
  }
}
