/* "jumplist" navigation links */

.jumplist {
  border: 1px solid #ddd;
  margin: $spacing 0;
  padding: 0.5em 0;

  > a {
    display: inline-block;
    margin-left: 0.75em;
    padding: 0;

    & + a:before {
      color: #ccc;
      content: '|\00A0';
      display: inline-block;
      margin-right: 0.75em;
    }
  }
}
