ul,
ol {
  margin: 1.5em 0 0;
  padding-left: 2em;

  &.no-style {
    list-style: none;
    padding: 0;
  }

  &.separator > li {
    border-top: 1px solid #e8e8e8;
    padding: 1em 0;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }
}

.linklist {
  > li {
    overflow: auto;
    padding: 2rem 0;

    &:last-child {
      padding-bottom: 1rem;
    }
  }
}

.linklist-header {
  color: $link-color;
  font-size: 1.125em;
  line-height: 1.4;
  margin: 0 0 -.5rem 0;
  padding: 0;

  &:active {
    color: $link-color-active;
  }
}

/* a selector included to 'enforce' img tag inside of a for linked img's */
.linklist-image {
  float: left;
  margin: 0 $horizontal-spacing $vertical-spacing 0;
  padding-top: 1.3em;
}


/* Remove margin from nested lists */
li > ul,
li > ol {
  margin: 0;
}

dl {
  margin: 1em 0 0;

  > dt {
    font-weight: bold;
  }
}

/* for mobile both hortizontal and vertical stack with a clean left edge */
.vertical,
.horizontal {
  > dd {
    margin: 0;
  }
}


@media screen and (min-width: $breakpoint-stacking) {

  .horizontal {
    > dt {
      clear: left;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 10em;
    }

    > dd {
      margin-left: 11em;
    }
  }
}
