ul,
ol {
  margin: $spacing 0;
  padding-left: calc($spacing * 2);

  &.no-style {
    list-style: none;
    padding: 0;
  }

  &.separator > li {
    border-top: 1px solid #e8e8e8;
    padding: $spacing 0;

    &:first-child {
      border-top: none;
    }
  }
}

.linklist {
  padding: 0;

  > li {
    overflow: auto;
    padding: 2rem 0;

    &:last-child {
      padding-bottom: 1rem;
    }

    h2, h3, h4 {
      margin: 0 0 -.5rem 0;
      padding: 0;
      line-height: 1.3;
      font-size: 1.125em;
      color: $link-color;

      &:active {
        color: $link-color-active;
      }
    }

    /* a selector included to 'enforce' img tag inside of a for linked img's */
    a > img {
      float: left;
      margin: 0 $spacing $spacing 0;
      padding-top: 1.3em;
    }
  }
}

/* Remove margin from nested lists */
li > ul,
li > ol {
  margin: 0;
}

dl {
  margin: $spacing 0;

  > dt {
    font-weight: bold;
  }
}

/* for mobile both hortizontal and vertical stack with a clean left edge */
dl.vertical,
dl.horizontal {
  > dd {
    margin: 0;
  }
}


@media screen and (min-width: $breakpoint-stacking) {

  dl.horizontal {
    > dt {
      float: left;
      width: 10em;
      overflow: hidden;
      clear: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > dd {
      margin-left: 11em;
    }
  }
}
