ul,
ol {
	margin: 1em 0 0;
	padding-left: 2em;

	&.no-style {
		list-style: none;
		padding: 0;
	}

	&.separator > li {
		border-top: 1px solid #d8d8d8;
		padding: 1em 0;

		&:first-child {
			border-top: none;
			padding-top: 0;
		}
	}
}

/* Remove margin from nested lists */
li > ul,
li > ol {
	margin: 0;
}

dl {
	margin: 1em 0 0;

	> dt {
		font-weight: bold;
	}
}

// for mobile both hortizontal and vertical stack with a clean left edge
dl.vertical,
dl.horizontal {
	> dd {
		margin: 0;
	}
}


@media screen and (min-width: $breakpoint-stacking) {

	dl.horizontal {
		> dt {
			float: left;
			width: 10em;
			overflow: hidden;
			clear: left;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		> dd {
			margin-left: 11em;
		}
	}
}