
.site-sectionnav .up-one-level {
  color: $link-color;

  &:before {
    content: '\0e31b';
    display: inline-block;
    font-family: 'Material Icons';
    margin-right: 1em;
    white-space: nowrap;
    vertical-align: bottom;
  }

  &:visited {
    color: $link-color;
  }
}
