
.site-sectionnav > a.up-one-level {
  white-space: nowrap;

  &:before {
    content: 'keyboard_return';
    display: inline-block;
    font-family: 'Material Icons';
    margin-right: 1em;
    vertical-align: bottom;
  }
}
