// these styles are using along with js/OffCanvas.js,
//
// it creates elements
//     (offcanvas-mask, offcanvas-container, and offcanvas-toggle)
// and toggles state classes
//     (offcanvas-enabled, offcanvas-almost-active, and offcanvas-active)
// based on the current window size.


// hide offcanvas elements by default
.offcanvas-mask,
.offcanvas-container,
.offcanvas-toggle {
	display:none;
}

// only applies when on a small screen
@media screen and (max-width:($breakpoint-full - 1px)) {

	// offcanvas is enabled, but not necessarily active
	.offcanvas-enabled {

		// position body relative, for offcanvas-active transition
		position:relative;
		left:0;
		transition: left $offcanvas-transition-time;

		// show the offcanvas-toggle in the top right corner of the page
		.offcanvas-toggle {
			display:block;
			width:30px;
			height:30px;
			position:fixed;
			top:7px;
			right:7px;
			z-index:5;
			color:$offcanvas-toggle-color;
			background-color:$offcanvas-toggle-background-color;
			border:1px solid $offcanvas-toggle-border-color;
			font-size:30px;
			line-height:30px;
			text-indent:0;
			text-align:center;
			cursor:pointer;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;

			&:hover {
				color:$offcanvas-toggle-color-hover;
				background-color:$offcanvas-toggle-background-color-hover;
				border-color:$offcanvas-toggle-border-color-hover;
			}
		}

		// position offcanvas to left of page
		.offcanvas {
			position:fixed;
			display:none;
			left:-$offcanvas-width;
			top:0;
			bottom:0;
			width:$offcanvas-width;

			background-color:#FFF;
			padding:0 8px;
			z-index:1002;

			overflow-y:auto;
			-webkit-overflow-scrolling: touch;
			transition: left $offcanvas-transition-time;
		}

		// position mask over page
		.offcanvas-mask {
			background-color:rgba(0, 0, 0, .1);
			display:none;
			position:fixed;
			left:0;
			top:0;
			bottom:0;
			width:100%;
			z-index:1001;
			transition: left $offcanvas-transition-time;
			cursor:pointer;
		}

	}


	// intermediate step when activating
	.offcanvas-almost-active {
		overflow:hidden;

		// show offcanvas content just before transition
		.offcanvas {
			display:block;
			box-shadow: 1px 0 4px 0 black;
		}

		// mask page just before transition
		.offcanvas-mask {
			display:block;
		}
	}


	// offcanvas is enabled and active
	.offcanvas-active {
		// move offcanvas over page
		.offcanvas {
			left:0;
		}

		// move mask to right of offcanvas
		.offcanvas-mask {
			left:$offcanvas-width;
		}
	}

}

