/* these styles are using along with js/OffCanvas.js,
 *
 * it creates elements
 *     (offcanvas-mask, offcanvas-container, and offcanvas-toggle)
 * and toggles state classes
 *     (offcanvas-enabled, offcanvas-almost-active, and offcanvas-active)
 * based on the current window size.
 */

/* variables */
$offcanvas-width: 228px !default;
$offcanvas-transition-time: .3s !default;

/* hide offcanvas elements by default */
.offcanvas-mask,
.offcanvas-container,
.offcanvas-toggle {
  display: none;
}

/* only applies when on a small screen */
@media screen and (max-width: 767px) {

  /* offcanvas is enabled, but not necessarily active */
  .offcanvas-enabled {

    /* position body relative, for offcanvas-active transition */
    left: 0;
    position: relative;
    transition: left $offcanvas-transition-time ease-in-out;

    /* show the offcanvas-toggle in the top right corner of the page */
    > .offcanvas-toggle {
      box-shadow: none;
      display: block;
      font-size: 0.88em;
      height: 2em;
      line-height: 2em;
      margin: 0;
      padding: 0 0.75em;
      position: absolute;
      right: $spacing;
      top: 12px;
      user-select: none;
      z-index: 1005;
    }

    /* position offcanvas to left of page */
    > .offcanvas {
      background-color: #FFF;
      bottom: 0;
      box-shadow: 1px 0 4px 0 black;
      left: calc(-$offcanvas-width - 4px);
      overflow-y: auto;
      padding: 0;
      position: fixed;
      top: 0;
      transition: left $offcanvas-transition-time ease-in-out;
      width: $offcanvas-width;
      -webkit-overflow-scrolling: touch;
      z-index: 1002;
    }

    /* position mask over page */
    > .offcanvas-mask {
      background-color: rgba(0, 0, 0, 0);
      bottom: 0;
      cursor: pointer;
      display: none;
      left: 0;
      position: fixed;
      top: 0;
      transition: background-color $offcanvas-transition-time ease-in-out;
      width: 100%;
      z-index: 1001;
    }
  }


  /* intermediate step when activating */
  .offcanvas-almost-active {
    overflow: hidden;

    /* mask page just before transition */
    > .offcanvas-mask {
      display: block;
    }
  }


  /* offcanvas is enabled and active */
  .offcanvas-active {

    /* move offcanvas over page */
    > .offcanvas {
      left: 0;
    }

    /* move mask to right of offcanvas */
    > .offcanvas-mask {
      background-color: rgba(0, 0, 0, .7);
    }
  }
}


@media screen and (min-width: $breakpoint-offcanvas) {

  .offcanvas-enabled .offcanvas {
    padding: 0 $spacing;
  }
}
