// these styles are using along with js/OffCanvas.js,
//
// it creates elements
//     (offcanvas-mask, offcanvas-container, and offcanvas-toggle)
// and toggles state classes
//     (offcanvas-enabled, offcanvas-almost-active, and offcanvas-active)
// based on the current window size.


// hide offcanvas elements by default
.offcanvas-mask,
.offcanvas-close,
.offcanvas-container,
.offcanvas-toggle {
	display:none;
}

// only applies when on a small screen
@media screen and (max-width:($breakpoint-full - 1px)) {

	// offcanvas is enabled, but not necessarily active
	.offcanvas-enabled {

		// position body relative, for offcanvas-active transition
		position:relative;
		left:0;
		transition: left $offcanvas-transition-time;

		// show the offcanvas-toggle in the top right corner of the page
		.offcanvas-toggle {
			display:block;
			width:30px;
			height:30px;
			position:fixed;
			top:10px;
			right:10px;
			z-index:5;
			color:$offcanvas-toggle-color;
			background-color:$offcanvas-toggle-background-color;
			border:1px solid $offcanvas-toggle-border-color;
			font-size:30px;
			line-height:30px;
			text-indent:0;
			text-align:center;
			cursor:pointer;

			&:hover {
				color:$offcanvas-toggle-color-hover;
				background-color:$offcanvas-toggle-background-color-hover;
				border-color:$offcanvas-toggle-border-color-hover;
			}
		}

		// position offcanvas content beneath page
		.offcanvas {
			position:fixed;
			display:block;
			left:0;
			top:0;
			bottom:0;
			width:$offcanvas-width;

			background-color:#FFF;
			padding:0 8px;
			z-index:-2;

			overflow-y:auto;
		}

		.offcanvas-mask {
			background-color:#FFF;
			display:block;
			position:fixed;
			left:0;
			top:0;
			right:0;
			bottom:0;
			z-index:-1;
			box-shadow:-2px 0 5px rgba(53,53,53,.5);
			transition: left $offcanvas-transition-time;
		}
	}


	// intermediate step when activating, for browsers that have trouble with
	// overflow during transition (firefox)
	.offcanvas-almost-active {
		overflow:hidden;
	}


	// offcanvas is enabled and active
	.offcanvas-active {

		// move page to the right
		left:$offcanvas-width;

		// show offcanvas mask
		.offcanvas-mask {
			left:$offcanvas-width;
		}

		.offcanvas-close {
			background-color:transparent;
			display:block;
			position:fixed;
			left:$offcanvas-width;
			top:0;
			right:0;
			bottom:0;
			z-index:4;
			cursor:pointer;
		}
	}

}

