

.page-header {
	& > h1 {
		margin: 0 0 $spacing;
	}	
}

.page-content {
	line-height: 1.3;
	margin: 1em 0;
}

.page-footer {
	color: $page-footer-color;
	background-color: $page-footer-background-color;
	padding:$spacing;
	margin:1em 0;
	border: 1px solid $page-footer-border-color;
	font-size:smaller;

	& > p {
		margin-top: 0;
	}
}

@media screen and (min-width: $breakpoint-full) {

	.page-footer {
		position:relative;

		& > p {
			margin-bottom:0;
		}

		& > .page-social {
			position: absolute;
			right: $spacing;
			bottom: $spacing;
		}
	}

	// navigation/content as left/right columns

	body.navigation {

		.page {
			padding: $spacing;
			float: right;
			width: 100% - $sectionnav-width;
		}

		.site-sectionnav {
			float: left;
			width: $sectionnav-width;
		}

	}

}
