
.page {
	padding:$vertical-spacing 0;
}

.page-header {
	> h1 {
		margin: 0 0 $vertical-spacing;
	}
}

.page-content {
	line-height: 1.3;
	margin: 1em 0;
}

.page-footer {
	clear:both;
	color: $page-footer-color;
	background-color: $page-footer-background-color;
	padding:$vertical-spacing 0;
	margin:1em 0 0;
	font-size:smaller;

	> p {
		margin-top: 0;
	}
}

@media screen and (min-width: $breakpoint-full) {

	.page-footer {
		position:relative;

		> p {
			margin-bottom:0;
		}

		> .page-social {
			position: absolute;
			right: $horizontal-spacing;
			bottom: $vertical-spacing;
		}
	}

	// navigation/content as left/right columns


	.page {
		padding: $vertical-spacing 0 $vertical-spacing $horizontal-spacing;
		float: right;
		width: 100% - $side-column-width;
	}

	.site-footer {
		float: left;
		width: $side-column-width;
	}

}

@media print {
	.page-footer {
		display:none;
	}
}
