/* bibliography-style references */

.referencelist {
  font-size: 0.88em;
  padding-left: 3em;

  > li {
    color: $gray-text-color;
    font-style: italic;
    list-style: none;
    margin: $spacing 0;
    text-indent: -3em;
  }
}
