.page-social > a {
  margin-left: 16px;
}
.page-social > a:first-child {
  margin: 0;
}


@media screen and (max-width: 767px) {

  .page-social {

    > a {
      display: inline-block;
      background: url("/theme/images/social-sprite.png") no-repeat;
      content: ' ';
      width: 32px;
      height: 32px;
      margin-top: -32px;
      text-indent: -9999px;
      overflow: hidden;
      margin-top: 0;

      &.facebook {
        background-position: 0 0px;
      }

      &.twitter {
        background-position: 0 -48px;
      }

      &.google-plus {
        background-position: 0 -96px;
      }

      &.email {
        background-position: 0 -144px;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .page-social {
    > a:before {
      display: inline-block;
      background: url("/theme/images/social-sprite.png") no-repeat;
      content: ' ';
      height: 16px;
      width: 16px;
      margin-top: -16px;
      position: relative;
      top: 2px;
      margin-right: 4px;
    }

    > .facebook:before {
      background-position: 0 -32px;
    }

    > .twitter:before {
      background-position: 0 -80px;
    }

    > .google-plus:before {
      background-position: 0 -128px;
    }

    > .email:before {
      background-position: 0 -176px;
    }
  }
}
