/*
  These styles were inspired by:

  Simple Little Table by John Sardine
  http://johnsardine.com/freebies/dl-html-css/simple-little-tab/

  Responsive Data Tables by Chris Coyier
  http://css-tricks.com/responsive-data-tables/

 */

table {
  border-collapse: collapse;
  font-size: 1.4rem;
  margin: 1em 0 0;
  text-align: left;

  th {
    background-color: #f8f8f8;
    background-color: rgba(0,0,0,0.03);
    font-weight: bold;
    /* only necessary for IE */
    text-align: left;
  }

  th,
  td {
    padding: 0.8rem 1.2rem;
    border: 1px solid #e8e8e8;
  }
}

.borderless {
  > thead > tr > th {
    border-top: 0;
  }

  th,
  td {
    background: none;
    border-left: 0;
    border-right: 0;
  }
}
