/*
  These styles were inspired by:

  Simple Little Table by John Sardine
  http://johnsardine.com/freebies/dl-html-css/simple-little-tab/

  Responsive Data Tables by Chris Coyier
  http://css-tricks.com/responsive-data-tables/

 */

table {
  border-collapse: collapse;
  font-size: $font-size-small;
  margin: $spacing 0;
  text-align: left;
}

th {
  background-color: $gray-lighter;
  /* Must have opacity for .vertical-scrolling / .horizontal-scrolling */
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
  /* only necessary for IE */
  text-align: left;
}

th,
td {
  padding: 0.666em 0.75em;
  border: 1px solid $gray;
}


.borderless {

  > thead > tr > th,
  > tbody > tr > th,
  > tbody > tr > td {
    background: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}
