
$body-margin: 0 !default;

$banner-image: '/theme/images/usgs-banner.jpg' !default;
$banner-background-color: #000 !default;


$site-title: 'U.S. Geological Survey' !default;
$site-title-color: #fff !default;
$site-title-background-color: #666 !default;


$spacing: 16px !default;
$horizontal-spacing: $spacing !default;
$vertical-spacing: 12px !default;


$breakpoint-full: 768px !default;
// 20% of 768 px = 153.6
$side-column-width: 20% !default;


$page-footer-color: #999 !default;
$page-footer-background-color: #FFF !default;
$page-footer-border-color: #DDD !default;


$search-background-color: #EEE !default;
$search-border-color: #CCC !default;


$sitenav-color: $site-title-color !default;
$sitenav-background-color: $site-title-background-color !default;
$sitenav-color-hover: $site-title-color !default;
$sitenav-background-color-hover: darken($sitenav-background-color, 10%) !default;
$sitenav-border-color: darken($sitenav-background-color, 10%);
$sitenav-border-color-hover: $sitenav-border-color !default;

$sectionnav-color: $sitenav-color !default;
$sectionnav-background-color: #EDEDED;
$sectionnav-color-hover: #000;
$sectionnav-background-color-hover: #fff;
$sectionnav-border-color: #ddd;


$offcanvas-width: 80% !default;
$offcanvas-toggle-color: $sitenav-color !default;
$offcanvas-toggle-background-color: $sitenav-background-color !default;
$offcanvas-toggle-border-color: $offcanvas-toggle-color !default;
$offcanvas-toggle-color-hover: $sitenav-color-hover !default;
$offcanvas-toggle-background-color-hover: $sitenav-background-color-hover !default;
$offcanvas-toggle-border-color-hover: $sitenav-border-color-hover !default;

$offcanvas-transition-time: .25s !default;


* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}


body {
	margin: $body-margin;
}


img {
	max-width: 100%;
}


@import 'typography';
@import 'banner';
@import 'page';
@import 'social';
@import 'footer';
@import 'offcanvas';

