:root {
	font-size: 10px;
}

body {
	font-size:1.5rem;
	line-height:1.5;
	font-family:'helvetica neue', arial, sans-serif;
}

// apply same margin for each header for consistency
h1, h2, h3, h4, h5, h6 {
	margin:25px 0 15px;
	line-height:1.2;
	color:#333;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.625em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.125em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.875em;
}


// Leave this at 768px even though the grid stacks at 560px
@media screen and (min-width: $breakpoint-offcanvas) {

	body {
		font-size:1.6rem;
	}
}