:root {
	font-size: 10px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	font-size:1.6rem;
	line-height:1.5;
	font-family:'helvetica neue', arial, sans-serif;
}

// apply same margin for each header for consistency
h1, h2, h3, h4, h5, h6 {
	margin:2.4rem 0 0; /* 1.5em of base font-size */
	line-height:1.2;
	color:#333;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.625em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.125em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.875em;
}