/* set template variables */

$body-margin: 0 !default;
$body-text-color: #000 !default;

$banner-image: '/theme/images/usgs-banner.jpg' !default;
$banner-background-color: #000 !default;


$site-title: 'U.S. Geological Survey' !default;
$site-title-color: #fff !default;
$site-title-background-color: #666 !default;


$spacing: 16px !default;
$horizontal-spacing: $spacing !default;
$vertical-spacing: $spacing !default;


$breakpoint-stacking: 560px !default;
$breakpoint-offcanvas: 768px !default;
// 20% of 768 px = 153.6
$side-column-width: 20% !default;

$link-color: #306ac2 !default;
$link-color-active: #c23030 !default;

$page-footer-color: #999 !default;
$page-footer-background-color: #FFF !default;
$page-footer-border-color: #DDD !default;


$search-background-color: #EEE !default;
$search-border-color: #CCC !default;


$sitenav-color: $site-title-color !default;
$sitenav-background-color: $site-title-background-color !default;
$sitenav-color-hover: $site-title-color !default;
$sitenav-background-color-hover: darken($sitenav-background-color, 10%) !default;
$sitenav-border-color: darken($sitenav-background-color, 10%);
$sitenav-border-color-hover: $sitenav-border-color !default;

$sectionnav-color: $sitenav-color !default;
$sectionnav-background-color: #EDEDED;
$sectionnav-color-hover: #000;
$sectionnav-background-color-hover: #f8f8f8;
$sectionnav-border-color: #ddd;


$offcanvas-width: 228px !default;
$offcanvas-toggle-color: #333 !default;
$offcanvas-toggle-background-color: #eee !default;
$offcanvas-toggle-color-active: #fff !default;
$offcanvas-toggle-background-color-active: #ccc !default;

$offcanvas-transition-time: .3s !default;
