
/* Colors */

$text-color: #333333 !default;

$gray: #dddddd !default;
$gray-lighter: #f4f4f4 !default;
$gray-darker: #666666 !default;
$gray-text-color: $gray-darker !default;

$primary: #205493 !default;
$primary-lighter: #0071bc !default;
$primary-darker: #112e51 !default;
$primary-text-color: #ffffff !default;

$secondary: $gray !default;
$secondary-lighter: $gray-lighter !default;
$secondary-darker: $gray-darker !default;
$secondary-text-color: $text-color !default;

/* Template Styles */

$font-code: Consolas, monospace, serif;
$font-sans: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-serif: 'Merriweather', Times, serif;

$font-bold: 700 !default;
$font-normal: 400 !default;
$font-thin: 300 !default;

$font-size: 17px !default;
$font-size-small: 0.88em !default;
$font-size-smaller: 0.77em !default;

$banner-image: '/theme/images/usgs-banner.jpg' !default;
$banner-background-color: #000 !default;
$banner-title: 'U.S. Geological Survey' !default;

$spacing: 1em !default;

$breakpoint-stacking: 560px !default;
$breakpoint-offcanvas: 768px !default;

$link-color: #306ac2 !default;
$link-color-active: #c23030 !default;
