$accordion-border-color:rgb(226,226,226) !default;
$accordion-hover-color:rgb(237,237,237) !default;
$accordion-background-color-open:$accordion-border-color !default;
$accordion-background-color-closed:rgb(245,245,245) !default;

@mixin plus-minus ($icon) {
		font-family:"Courier New", Courier, monospace;
		content:$icon;
		letter-spacing:1em;
		font-weight:bold;
		@if $icon == '+' {color:#aaa;}
		@elseif $icon == '-' {color:#666;}
}

.accordion {
	display:block;
	border:1px solid $accordion-border-color;

	> .accordion-toggle {
		display:block;
		padding:10px 15px;
	}

	> .accordion-toggle:hover {
		cursor:pointer;
	}

	> .accordion-toggle:before {
		@include plus-minus('-');
	}

	> .accordion-content {
		display:block;
		padding:10px 15px;
	}
}

.accordion-closed {
	> .accordion-toggle:before {
		@include plus-minus('+');
	}

	> .accordion-content {
		display:none;
	}
}

/* Standard accordion with headers used for toggling */
.accordion-standard {
	border:none;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
	color:#333;

	> .accordion-toggle {
		background-color:$accordion-background-color-open;
		border:1px solid $accordion-border-color;
		color:#333;
		text-shadow:1px 1px 0 rgb(255,255,255);
		font-weight:normal;
		vertical-align:bottom;
		margin-bottom:0;
	}

	> .accordion-toggle:hover {
		background-color:$accordion-hover-color;
	}

	> .accordion-content {
		border-left:1px solid $accordion-border-color;
		border-right:1px solid $accordion-border-color;
		border-bottom:3px solid $accordion-border-color;
		padding:10px 15px;
	}

	&.accordion-closed {
		> .accordion-toggle {
			background-color:$accordion-background-color-closed;
			border:1px solid $accordion-border-color;
			color:#666;
		}
	}
}
