.alert {
  background-color: #eeeeee;
  background-size: 4rem;
  margin-top: 1em;
  padding: 1em;
  padding-left: 2rem;
  position: relative;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
  }
}

.error,
.info,
.success,
.warning {
  padding-left: 5.5rem;

  &:before {
    background-repeat: no-repeat;
    background-size: 104px 26px;
    content: '';
    display: block;
    left: 1em;
    height: 26px;
    position: absolute;
    top: 1em;
    width: 26px;
  }
}

.info {
  background-color: #E8F5FA;

  &:before {
    background-image: url('/theme/images/alerts.svg');
    background-position: -78px;
  }
}

.success {
  background-color: #E5FCDE;

  &:before {
    background-image: url('/theme/images/alerts.svg');
    background-position: 0px;
  }
}

.warning {
  background-color: #FDF7DC;

  &:before {
    background-image: url('/theme/images/alerts.svg');
    background-position: -26px;
  }
}

.error {
  background-color: #F9DEDE;

  &:before {
    background-image: url('/theme/images/alerts.svg');
    background-position: -52px;
  }
}

.remove-icon {
  padding-left: 2rem;

  &:before {
    background-image: none;
  }
}
