.alert {
  background-color: #eeeeee;
  line-height: 1;
  margin-top: 1em;
  overflow: hidden;
  padding: 1em;
  padding-left: 2em;
  position: relative;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.error,
.info,
.success,
.warning {

  &:before {
    content: '';
    font-family: 'Material Icons';
    font-size: 4.5em;
    left: -.2em;
    opacity: .075;
    position: absolute;
    top: -.2em;
  }
}

.error {
  background-color: #F9DEDE;

  &:before {
    content: '\0e15c';
  }
}

.info {
  background-color: #E8F5FA;

  &:before {
    content: '\0e88e';
  }
}

.no-icon:before {
  content: '';
}

.success {
  background-color: #E5FCDE;

  &:before {
    content: '\0e86c';
  }
}

.warning {
  background-color: #FDF7DC;

  &:before {
    content: '\0e002';
  }
}
