// set defaults, can be overridden when flexible-grid is included in site css.
$breakpoint-full: 768px !default;
$spacing: 16px !default;
$horizontal-spacing: $spacing !default;
$vertical-spacing: $spacing !default;


.column {
	width:100%;
	margin-bottom:$vertical-spacing;
	// make gutter on right side of each column
	padding-right:$horizontal-spacing;
}

// rows are left-to-right
.row {
	clear:both;
	margin-right:-$horizontal-spacing;
	margin-bottom:0;

	> .column {
		float:left;
	}

	&:after {
		display: block;
		content: ' ';
		clear: both;
	}
}

// unless the right-to-left class is present
.row.right-to-left {
	> .column {
		float:right;
	}
}

// */1
.mobile-one-of-one    { width: 100%; }

// */2
.mobile-two-up > .column,
.mobile-one-of-two,   { width: 100%*1/2; }

// */3
.mobile-three-up > .column,
.mobile-one-of-three, { width: 100%*1/3; }
.mobile-two-of-three  { width: 100%*2/3; }

// */4
.mobile-four-up > .column,
.mobile-one-of-four   { width: 100%*1/4; }
.mobile-two-of-four   { @extend .mobile-one-of-two; }
.mobile-three-of-four { width: 100%*3/4; }

// */5
.mobile-five-up > .column,
.mobile-one-of-five   { width: 100%*1/5; }
.mobile-two-of-five   { width: 100%*2/5; }
.mobile-three-of-five { width: 100%*3/5; }
.mobile-four-of-five  { width: 100%*4/5; }


@media screen and (min-width:560px), print {

	.row {
		margin-bottom:$vertical-spacing;
	}

	.column {
		margin-bottom:0;
	}

	// */1
	.one-of-one    { width: 100%; }

	// */2
	.two-up > .column,
	.one-of-two    { width: 100%*1/2; }

	// */3
	.three-up > .column,
	.one-of-three  { width: 100%*1/3; }
	.two-of-three  { width: 100%*2/3; }

	// */4
	.four-up > .column,
	.one-of-four   { width: 100%*1/4; }
	.two-of-four   { @extend .one-of-two; }
	.three-of-four { width: 100%*3/4; }

	// */5
	.five-up > .column,
	.one-of-five   { width: 100%*1/5; }
	.two-of-five   { width: 100%*2/5; }
	.three-of-five { width: 100%*3/5; }
	.four-of-five  { width: 100%*4/5; }

}