// set defaults, can be overridden when flexible-grid is included in site css.
$breakpoint-full: 768px !default;
$spacing: 16px !default;
$horizontal-spacing: $spacing !default;
$vertical-spacing: $spacing !default;


.column {
	margin-bottom:$vertical-spacing;
}

.mobile {
	clear:both;
	margin-right:-$horizontal-spacing;
	margin-bottom:$vertical-spacing;

	> .column {
		padding-right:$horizontal-spacing;
		float:left;
	}

	&:after {
		display: block;
		content: ' ';
		clear: both;
	}

	// */1
	.one-of-one     { width: 100%; }

	// */2
	.one-of-two     { width: 100%*1/2; }

	// */3
	.one-of-three   { width: 100%*1/3; }
	.two-of-three   { width: 100%*2/3; }

	// */4
	.one-of-four    { width: 100%*1/4; }
	.two-of-four    { @extend .one-of-two; }
	.three-of-four  { width: 100%*3/4; }

	// */5
	.one-of-five    { width: 100%*1/5; }
	.two-of-five    { width: 100%*2/5; }
	.three-of-five  { width: 100%*3/5; }
	.four-of-five   { width: 100%*4/5; }
}

.mobile.right-to-left {
	> .column {
		float:right;
	}
}

@media screen and (min-width:560px), print {

	.column {
		// make gutter on right side of each column
		padding-right:$horizontal-spacing;
		margin-bottom:0;
	}

	// rows are left-to-right
	.row {
		clear:both;
		margin-right:-$horizontal-spacing;
		margin-bottom:$vertical-spacing;

		> .column {
			float:left;
		}

		&:after {
			display: block;
			content: ' ';
			clear: both;
		}
	}

	// unless the right-to-left class is present
	.row.right-to-left {
		> .column {
			float:right;
		}
	}

	// */1
	.one-of-one     { width: 100%; }

	// */2
	.one-of-two     { width: 100%*1/2; }

	// */3
	.one-of-three   { width: 100%*1/3; }
	.two-of-three   { width: 100%*2/3; }

	// */4
	.one-of-four    { width: 100%*1/4; }
	.two-of-four    { @extend .one-of-two; }
	.three-of-four  { width: 100%*3/4; }

	// */5
	.one-of-five    { width: 100%*1/5; }
	.two-of-five    { width: 100%*2/5; }
	.three-of-five  { width: 100%*3/5; }
	.four-of-five   { width: 100%*4/5; }

}