.imagelist {
	list-style:none;
	margin:0;
	padding:0;

	> .imagelist-item {
		margin:2em 0 0 0;
		padding:0;

		&:first-child {
			margin-top:0;
		}

		> .imagelist-header {
			display:block;

			.imagelist-title {
				display:block;
				margin-bottom:.5em;
				font-size:1.4em;
				font-weight:normal;
			}

			.imagelist-image {
				display:block;
			}
		}

		> .imagelist-content {
			display:block;
			margin-top:1em;
		}
	}
}

@media screen and (min-width:480px) {
	.imagelist > .imagelist-item {
		position:relative;

		&:after {
			display:block;
			content:' ';
			clear:left;
		}

		> .imagelist-header {
			float:left;
			width:25%;
			padding-right:16px;

			.imagelist-title {
				position:absolute;
				top:-4px;
				left:25%;
				max-width:100%;
				padding-right:25%;
				white-space:nowrap;
				text-overflow:ellipsis;
				overflow:hidden;
			}

			.imagelist-image {
				width:100%;
			}
		}

		.imagelist-content {
			float:left;
			width:75%;
			margin-top:2em;
		}
	}
}