/* "jumplist" navigation links */

.jumplist {
	padding: 8px;
	margin: 1em 0 0;
	border: 1px solid #ddd;

	> a {
		&:after {
			display: inline-block;
			content: '|';
			padding: 0 8px;
		}
		&:last-child:after {
			display: none;
		}

		// trim whitespace btwn elem
		//http://stackoverflow.com/questions/14630061/correct-html-mark-up-syntax-to-remove-whitespace-between-inline-block-elements/14630227#14630227
		float: left;
		&:last-child {
			float: none;
		}
	}
}
