/* "jumplist" navigation links */

.jumplist {
  border: 1px solid #ddd;
  padding: 0.5em 0 0 1em;
  margin: 1em 0 0;

  > a {
    border-right: 1px solid #ccc;
    display: inline-block;
    float: left;
    line-height: 1em;
    margin: 0 0.5em 0.5em 0;
    padding-right: 0.5em;

    &:last-child {
      border-right: 0;
    }
  }

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}
