.linklist {
  list-style: none;
  padding: 0;
}

.linklist li {
  border-bottom: 1px dotted #ddd;
}

.linklist li:last-child {
  border: none;
}

.linklist a {
  text-decoration: none;
  padding: 1.5em 0;
  display: block;
  overflow: auto;
}

.linklist a:hover {

}

.linklist p {
  color: #000;
}

.linklist h4 {
  text-decoration: underline;
  color: #306ac2;
  margin: 0 0 -.25em 0;
  padding: 0;
  line-height: 1.4;
}

.linklist img {
	float: left;
	margin: 1.3em 16px 0 0;
}
