/*
	These styles were inspired by:

	Simple Little Table by John Sardine
	http://johnsardine.com/freebies/dl-html-css/simple-little-tab/

	Responsive Data Tables by Chris Coyier
	http://css-tricks.com/responsive-data-tables/

 */

$font_color: #333 !default;
$border_color: #e0e0e0 !default;

$td_padding: 10px !default;
$td_background_color: rgb(248,248,248) !default;

$th_padding: $td_padding !default;
$th_background_color: rgb(237,237,237) !default;

@mixin first_cell($padding_left) {
	text-align: left;
	padding-left: $padding_left;
}

// change colors to accentuate values over headers
table.responsive,
table.responsive-vertical {
	font-size:14px;
	text-align: left;
	margin:15px 0;
	width: 100%;
	border-collapse: collapse;
	color: $font_color;

	th {
			text-shadow: 1px 1px 0px #fff;
	}

	> tbody > tr > td:before {
		// de-emphasize table headers
		color:#777;
	}
}

table.responsive {

	/* Display table as more of a list */
	thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	> thead > tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	> tbody > tr {
		margin-top: 15px;

		> th {
			font-weight:bold;
		}

		> th:first-child {
			margin-bottom:5px;
			padding-bottom:5px;
			padding-left:0;
			border-bottom:1px solid $border_color;
			text-align:left;
		}

		> td:first-child {
			border-top:1px solid $border_color;
		}

		> td:first-child,
		> td:first-child:before {
			padding-top: 15px;
		}

		> td {
			position: relative;
			padding: $td_padding/5;
			padding-left: 36%;
		}

		> td:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 36%;
			padding: $td_padding/5 0;
			white-space: nowrap;
			text-align: left;
		}
	}
}

table.responsive-vertical {

	> thead > tr {
		border: 1px solid $border_color;

		th {
			border-left:1px solid $border_color;
			padding:10px;
			background: #ededed;
		}

		th:first-child {
			text-align:left;
			border:none;
		}
	}

	> tbody > tr {

		> th {
			background: $th_background_color;
			color:#333;
			font-weight:bold;
			padding:10px;
			border:1px solid $border_color;
		}

		> th,
		> td {
			padding:10px;
			text-align:left;
		}

		> td {
			border-bottom: 1px solid $border_color;
			border-top: 1px solid $border_color;
			border-right: 1px solid $border_color;
		}
	}
}


@media screen and (min-width: 768px), print {

	table.responsive,
	table.responsive-vertical {
		font-size:16px;
		border:1px solid $border_color;

		> thead > tr > th {
			background: $th_background_color;
			color:#000;
			font-weight:bold;
			padding:$th_padding;
			text-align:center;
		}
	}

	table.responsive {
		thead  { display: table-header-group; }
		tbody  { display: table-row-group; }
		tr     { display: table-row; }
		td, th { display: table-cell; }

		> thead > tr {
			position:static;

			// indent first child in table
			> th:first-child {
				@include first-cell($td_padding * 2);
			}
		}

		> tbody > tr {

			> th {
				padding: $td_padding;
				border-bottom:1px solid $border_color;
				border-top:1px solid $border_color;
				border-left: 1px solid $border_color;
				font-weight:normal;

				&:first-child {
					@include first-cell($td_padding * 2);
				}
			}

			> td {
				padding: $td_padding;
				border-bottom:1px solid $border_color;
				border-top:1px solid $border_color;
				border-left: 1px solid $border_color;

				// indent first child in table
				&:first-child {
					@include first-cell($td_padding * 2);
				}
			}
		}
	}
}
