/*
	These styles were inspired by:

	Simple Little Table by John Sardine
	http://johnsardine.com/freebies/dl-html-css/simple-little-tab/

	Responsive Data Tables by Chris Coyier
	http://css-tricks.com/responsive-data-tables/

 */

$table_spacing: 1em !default;
$table_border_color: #e0e0e0 !default;
$table_background: #fff !default;

$td_color: #555 !default;
$td_padding: $table_spacing / 2 !default;
$td_background_color: #fff !default;

$th_color: #444 !default;
$th_padding: $table_spacing / 2 !default;
$th_background_color: #ededed !default;

@mixin first_cell($padding_left) {
	padding-left: $padding_left;
	padding-top: $td_padding;
}

table.tabular {
	margin:$table_spacing 0;
	width: 100%;
	border-collapse: collapse;
	font-size:1em;
	border:1px solid $table_border_color;
	text-align:left;

	th {
		padding: $th_padding;
		color: $th_color;
		background-color: $th_background_color;
		border:1px solid $table_border_color;
		font-weight:bold;
		text-shadow: 1px 1px 0px #fff;
	}

	td {
		padding: $th_padding;
		color: $th_color;
		background-color: $td_background_color;
		border:1px solid $table_border_color;
	}

	th,
	td {
		&:first-child {
			@include first-cell($td_padding * 2);
		}
	}

	> tbody.no-header-style > tr > th {
		background: $td_background_color;
		font-weight: normal;
	}

	&.center {
		text-align:center;
	}
}