<app-header>
  <button
      (click)="sidenav.toggle()"
      class="hazdev-sidenav-toggle"
      mat-raised-button
  >
    Menu
  </button>
</app-header>

<app-sidenav #sidenav
    [opened]="!mobileQuery.matches">
  <app-page
    [TITLE]="TITLE"
    [CONTACT]="CONTACT"
    [SOCIAL]="SOCIAL"
  >
  <ng-content></ng-content>
  </app-page>

  <div sidenav
    class="site-footer">
    <app-navigation
      [NAVIGATION]="NAVIGATION"
      [SITE_SITENAV]="SITE_SITENAV"
      [SITE_URL]="SITE_URL"
    >
    <!-- Custom Section Navigation -->
      <ng-content select="[templateSideNavigation]" templateSideNavigation></ng-content>
    </app-navigation>
  </div>
</app-sidenav>

<app-footer
    [SITE_COMMONNAV]="SITE_COMMONNAV"
></app-footer>
