/* Mobile styles first */
.hazdev-site-header > .hazdev-sidenav-toggle {
  float: right;
  margin: 10px 14px 0 0;
}

mat-sidenav-container.mat-drawer-container {
  background: #fff;
}

mat-sidenav.site-footer {
  width: 228px; /* Don't use a percentage here */
}

/* Larger screen styles */
@media screen and (min-width: 768px) {
  .hazdev-site-header > .hazdev-sidenav-toggle {
    margin: 1em 1em 0 0;
  }

  mat-sidenav.site-footer {
    padding-left: 1em;
  }
}

/* Print styles */
@media print {
  .hazdev-site-header > .hazdev-sidenav-toggle {
    display: none;
  }
}
