/* set template variables */

$banner-image:'/theme/site/earthquake/banner.png' !default;
$site-title-background-color:#3d5e80 !default;
$site-title:'Earthquake Hazards Program' !default;

// import default variables
@import '../../css/_variables.scss';
