/* include earthquake variables */
@import '_variables.scss';

/* include the default theme */
@import '../default/index.scss';

/* include any content module css files */
@import '../../css/flexible-grid.scss';
@import '../../css/jumplist.scss';
@import '../../css/references.scss';
@import '../../css/responsive-table.scss';


/* custom styles for this theme */

/* deprecated styles */

.linklist {

  > li {
    /* New selector is .linklist-header */
    h2, h3, h4 {
      color: $link-color;
      font-size: 1.125em;
      line-height: 1.4;
      margin: 0 0 -.5rem 0;
      padding: 0;

      &:active {
        color: $link-color-active;
      }
    }

    /* New selector is .linklist-image */
    a > img {
      float: left;
      margin: 0 $horizontal-spacing $vertical-spacing 0;
      padding-top: 1.3em;
    }
  }
}
