<hazdev-template
  [TITLE]="TITLE"
  [NAVIGATION]="NAVIGATION"
  [SITE_SITENAV]="SITE_SITENAV"
  [SITE_COMMONNAV]="SITE_COMMONNAV"
  [SITE_INTERIORNAV]="SITE_INTERIORNAV"
  [COOPERATOR]="COOPERATOR"
>
  <a templateSideNavigation class="up-one-level" href="/up/one/level"
    >Up One Level</a
  >

  <p>
    Served in a 16-ounce pint glass. Cloudy and dirty-peach-colored, topped with
    a thick, frothy, creamy foam head with great retention and stick, thanks to
    the hops. Spicy, floral hop aroma with sweetish pale malts beneath. Near
    full-bodied, incredibly smooth on the palate, creamy and silky. Sharpish
    citric snap up front, with notes of grapefruit, lime and lemon; deep floral
    notes as well. A tad resinous, a little piney, especially in the hop finish,
    which is puckering and drying. Sweet, bready malts with some fruitiness and
    a doughy yeast toward the end. Lingering hop spiciness and yeast in the
    finish. Very moreish and bone dry when the last sip fades away.
  </p>

  <p>
    This dark golden brew, lightly tinted orange, is hop-forward, as any
    self-respecting pale ale should be, with moderate fruit and citrus. Though
    the hops are the most immediately recognizable factor — again, as they
    should be in an American pale — they give way to a lightly malty backbone
    that lends crispness and drinkability. Unlike many pale ales, Dale's Pale
    Ale resists the temptation to let the hops overwhelm, instead letting them
    work in a context that ends with just the right bitter snap.
  </p>

  <p>
    Oude Tart is our Flemish-style sour red ale that has won back to back World
    Beer Cup Gold medals in that category, as well as a Great American Beer
    Festival gold medal for the same. This is that same beer, but now with
    cherries to compliment the flavors of dark fruit, leather and toasty oak
    that the original is so well known for. While this beer will certainly age
    fine, we think that fruited beers are best fresh as the fruit character can
    dissipate with time.
  </p>

  <p>
    Pours a slightly hazed, rich, dark amber beer with orange hues. Massive head
    on this one, three fingers thick, a white froth with amazing retention; it
    really sticks to the glass. (Thanks, hop proteins!) The aromatics are
    unreal, with an aggressive hop scent full of pine, dank resins, spice,
    grapefruit, rind, pith and a mixed bag of herbal goodies. Beneath it all are
    sweet, syrupy notes of rich tropical fruit like pineapple, ripe honeydew and
    mango.
  </p>
</hazdev-template>
