/* set template variables */

$banner-image: url('/theme/site/landslides/banner.png') !default;
$site-title:'Landslides Hazards Program' !default;

$primary: #B6DAAC !default;
$primary-darker: rgba(0,0,0,0.1) !default;

/* import default variables */
@import '../../css/_variables.scss';
