/* set template variables */

$banner-image: '/theme/site/landslides/banner.png' !default;
$banner-title:'Landslide Hazards Program' !default;

$primary: #4A6B41 !default;
$primary-darker: rgba(0, 0, 0, 0.1) !default;

/* import default variables */
@import '../../css/_variables.scss';
