/* ### set template variables */

// leave as default for example


/* ### include template css file */
@import '../../src/htdocs/css/_template.scss';


/* ### include any content module css files */
